// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Fixedsys';
    src: url('/assets/fonts/FixedsysExcelsiorIIIb.eot');
    src: url('/assets/fonts/FixedsysExcelsiorIIIb.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/FixedsysExcelsiorIIIb.woff2') format('woff2'),
        url('/assets/fonts/FixedsysExcelsiorIIIb.woff') format('woff'),
        url('/assets/fonts/FixedsysExcelsiorIIIb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-size: 24px;
}

ion-input {
    input {
        font-size: 24px;
    }
}


button[ion-button]:not(.bar-button) {
    background: #FFF !important;
    border: 1px solid #000;
    box-shadow: initial;
    color: #000 !important;

    &:active {
        box-shadow: initial;
        position: relative;
        top: 2px;
    }
}